.App {
    width: 550px;
    height: fit-content;
    border: none;
    background-color: #FFF;
}

.cards {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}